<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <!-- RAILS SECURITY FEATURE cross-site request forgery (CSRF) -->
	<%= csrf_meta_tag %>
  </head>
  <body>
	<!-- will yield to the content of the given page -->
    <%= yield %>  
  </body>
</html>
